---
layout: base
tags: alevel
pagination:
  addAllPagesToCollections: true
  data: alevel.categories
  size: 1
  alias: category
eleventyComputed:
  eleventyNavigation:
    key: "{{category.ref}}"
    title: "{{category.title}}"
    parent: "{{category.parent}}"
---


<h1>{{ category.title }}</h1>

yo
{{ collections.alevel | eleventyNavigation | eleventyNavigationToHtml | safe }}
yo

{% set navPages = collections.alevel | eleventyNavigationBreadcrumb(category.ref) %}
{{ navPages | dump | safe }}